# course config files
*.yaml

# Gradle
.gradle/
build

# IntelliJ
*.iml

# old stages
/Simple Chat Bot with Java/*
!/Simple Chat Bot with Java/task/
/Simple Chat Bot with Java/task/*
!/Simple Chat Bot with Java/task/src
